{% extends "blog/base.html" %}
{% block title %}Login{% endblock title %}
{% block content %}
<h2>REGISTRO NUEVO USUARIO</h2>
<form method = 'post' class="w-50 mx-auto">
    {% csrf_token %}
    <div class="mb-3">
        <input type="text" name="username" class="form-control" placeholder="Nuevo Usuario" required>        
    </div>
    <div class="mb-3">
        <input type="password" name="password" class="form-control" placeholder="Nueva Contraseña" required>
    </div>
    <button class="btn btn-primary" type="submit"> REGISTRAR </button>
</form>
<a href="{%url 'login'%}">Ya tienes una cuenta? Iniciar sesión</a>
{% endblock content %}